/* MAIN CSS */
body {
  background-color: black;
  
}

html, body {
  height:100%; 
  width: 100%;
}

button {
  background-color: rgb(66, 110, 110);
  color: orange;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  
}

/* unvisited link */
a:link {
  color: rgba(255, 166, 0, 0.86);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgba(255, 166, 0, 0.86);
}

/* mouse over link */
a:hover {
  color: rgb(66, 110, 110);
}

button:hover {
  background-color: rgba(255, 166, 0, 0.86); /* Green */
  color: rgb(66, 110, 110);
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 0%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


.App {
  text-align: center;
  background-color: black;
  align-items: center;
  color: white;
}

/* LANDING PAGE */
#landing {
display:flex;

}

.head-shot {
  max-width: 305px;
  /* height: auto; */
  border-radius: 50%;
  border-style: solid;
  border-color: orange;
  margin-top: 10%;
  margin-right: 2%;
  margin-left: 25%;
}

.my-description {
 margin-top: 60%;
}

/* ABOUT/GOALS */
#about-container{
  margin-top: 10%;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  /* justify-content: flex-start; */
  /* align-content:space-around; */
}

.about-me, .goal-description {
  padding: 2%;
  margin-left: 30%;
  width: 37%;
  height: auto;
  line-height: 1.8;
  border-style: inset;
  border-color: rgba(255, 166, 0, 0.86);
}



/* PROJECTS */

/*.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
} */

/* @keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
} */

#project-container {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-content: space-around;

}

#video-container, #personal-team-projects-container {
  margin-bottom: 3%;
  display: flex; 
  justify-content: flex-start;
  flex-direction: row;
  overflow-y:hidden; 
  background-color: black;
  padding: 1%;
  /* border-radius: ; */
  border-color: grey;
  border-style: inset;
}

#personal-team-projects-container {
  background-color: black;
}

.project-video-heading, .personal-team-projects-heading {
  text-align: center;
}

.project-video-description, .personal-team-project-description, .goal-description {
  /* text-align: center; */
  white-space: wrap;
  /* width: 40%;
  height: auto; */
  align-self: center;
  line-height: 1.8;

}

video {
  width: 30%;
  height: auto;
  padding: 1.5%
}

.video-skill-description {
  color:black;
  padding: 1%;
  white-space: nowrap;
  text-align: left;
  line-height: 180%;
  display: block;
  list-style-type: disc;
}

.video-skill-description#one {
  background-color: orange;
}

.video-skill-description#two {
  background-color: rgb(66, 110, 110);
}

.video-skill-description#three {
  background-color: #d8d6d6;
}

.HaiRx-image {
  max-width: 30%;
  height: auto;
  padding: 1.5%
}

/* NAVIGATION */
#nav-container {
  display: flex;
  flex-direction: row;
}

nav.top-nav {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.top-nav a {
  float: left;
  margin-left: 5%;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

nav a:hover {
  background: white;
  color: black;
}

nav.top-nav .landing-link {
  float: right;
  margin-right: 5%;
}

/* FOOTER */
footer {
  display: flex;
  align-items: end;
  /* position: fixed; */
  /* margin-top: 205%; */
}

#contact-container ul{
  display: flex;
  margin-top: 5%;
  list-style-type: none;
}


.github-icon{
  background-color: black;
  padding: 10%;
 }

 .icon-1 {
  size-adjust: 0%;
 } 
 
 .linkedin-icon {
   background-color: black;
   padding: 10%;
 }

 .icon-2 {

 }
 
 .email-icon {
   background-color: black;
   padding: 10%;
 }

 .icon-3 {

 }
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
/* } */
