/* MAIN CSS */
body {
  background-color: black;
  
}

html, body {
  height: auto; 
  width: 100%;
}

footer {
  justify-content: center;
  margin-top: 4%;
  font-size: smaller;
  color: rgb(66, 110, 110);
  font-weight: 700;
  display: flex;
  align-items: end;
  margin-top: 20%;
  margin-bottom: -10%;
}

button {
  background-color: rgb(66, 110, 110);
  color: orange;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  
}

/* unvisited link */
a:link {
  color: rgba(255, 166, 0, 0.86);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgba(255, 166, 0, 0.86);
}

/* mouse over link */
a:hover {
  color: rgb(66, 110, 110);
}

button:hover {
  background-color: rgba(255, 166, 0, 0.86);
  color: rgb(66, 110, 110);
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 0%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


.App {
  text-align: center;
  background-color: black;
  align-items: center;
  color: white;
}

@media screen and (max-width: 800px) {
  #about-container, #landing, #project-container, #nav-container, .socials {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

/* LANDING PAGE */
#landing {
  display:flex;
  font-weight: 600;
  height: auto; 
  width: 100%;
}

.head-shot {
  max-width: 305px;
  border-radius: 50%;
  border-style: solid;
  border-color: orange;
  margin-top: 5%;
  margin-right: 2%;
  margin-left: 20%;
}

.my-description {
 margin-top: 40%;
}

/* ABOUT/GOALS */
#about-container{
  margin-top: -5%;
  padding: 10%
}

.socials {
  display: inline-block;
}

.about-me {
  font-weight: 600;
}

.about-me, .goal-description {
  padding: 2%;
  align-self: center;
  line-height: 1.8;
  border-style: inset;
  border-color: rgba(255, 166, 0, 0.86);
  white-space: wrap;
}

/* PROJECTS */
#project-container {
  margin-top: -5%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 10%
}

#video-container, #personal-team-projects-container {
  margin-bottom: 3%;
  display: flex; 
  justify-content: flex-start;
  flex-direction: row;
  overflow-y:hidden; 
  background-color: black;
  padding: 2%;
  border-color: grey;
  border-style:outset;

}

#personal-team-projects-container {
  background-color: black;
}

.project-video-heading, .personal-team-projects-heading {
  text-align: center;
}

.project-video-description, .personal-team-project-description {
  white-space: wrap;
  align-self: center;
  line-height: 1.8;
  border-style: inset;
  border-color: rgba(255, 166, 0, 0.86);
}

.project-video-description, .personal-team-project-description {
  font-weight: 600;
  padding: 2%;
  height: auto;
}

video {
  width: 45%;
  height: auto;
  padding: 1.5%
}

.video-skill-description {
  color:black;
  padding: 1%;
  white-space: nowrap;
  text-align: left;
  line-height: 180%;
  display: block;
  list-style-type: disc;
}

.video-skill-description#one {
  background-color: orange;
}

.video-skill-description#two {
  background-color: rgb(66, 110, 110);
}

.video-skill-description#three {
  background-color: #d8d6d6;
}

.HaiRx-image, .durante-image {
  max-width: 40%;
  height: auto;
  padding: 1.5%;
  margin-left: 4.5%;
}

/* NAVIGATION */
#nav-container {
  display: flex;
  flex-direction: row;
}

nav.top-nav {
  overflow: hidden;
  /* position: fixed; Set the navbar to fixed position */
  top: 0; /*Position the navbar at the top of the page*/ 
  width: 100%; /* Full width */
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.top-nav a {
  float: right;
  margin-left: 10%;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  display: block;
  width: 7%;
}

nav a:hover {
  background: white;
  color: black;
}

nav.top-nav .landing-link {
  margin-right: 5%;
  color: rgba(255, 166, 0, 0.86);
}