/* MAIN CSS */
body {
  background-color: black;
  
}

html, body {
  height:100%; 
  width: 100%;
}

footer {
  justify-content: center;
  margin-top: 4%;
  font-size: smaller;
  color: rgb(66, 110, 110);
  font-weight: 700;
}

button {
  background-color: rgb(66, 110, 110);
  color: orange;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  
}

/* unvisited link */
a:link {
  color: rgba(255, 166, 0, 0.86);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgba(255, 166, 0, 0.86);
}

/* mouse over link */
a:hover {
  color: rgb(66, 110, 110);
}

button:hover {
  background-color: rgba(255, 166, 0, 0.86); /* Green */
  color: rgb(66, 110, 110);
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 0%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}


.App {
  text-align: center;
  background-color: black;
  align-items: center;
  color: white;
}

/* LANDING PAGE */
#landing {
display:flex;
font-weight: 600;

}

.head-shot {
  max-width: 305px;
  border-radius: 50%;
  border-style: solid;
  border-color: orange;
  margin-top: 10%;
  margin-right: 2%;
  margin-left: 25%;
}

.my-description {
 margin-top: 60%;
}

/* ABOUT/GOALS */
#about-container{
  margin-top: 10%;
}

.about-me {
  font-weight: 600;

}

.about-me, .goal-description {
  padding: 2%;
  margin-left: 30%;
  width: 37%;
  height: auto;
  line-height: 1.8;
  border-style: inset;
  border-color: rgba(255, 166, 0, 0.86);
  
}

/* PROJECTS */

#project-container {
  /* margin-top: 0%; */
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 10%
}

#video-container, #personal-team-projects-container {
  margin-bottom: 3%;
  display: flex; 
  justify-content: flex-start;
  flex-direction: row;
  overflow-y:hidden; 
  background-color: black;
  padding: 2%;
  border-color: grey;
  border-style:outset;

}

#personal-team-projects-container {
  background-color: black;
}

.project-video-heading, .personal-team-projects-heading {
  text-align: center;
}

.project-video-description, .personal-team-project-description, .goal-description {
  white-space: wrap;
  align-self: center;
  line-height: 1.8;
  border-style: inset;
  border-color: rgba(255, 166, 0, 0.86);
}

.project-video-description, .personal-team-project-description {
  font-weight: 600;
}

video {
  width: 30%;
  height: auto;
  padding: 1.5%
}

.video-skill-description {
  color:black;
  padding: 1%;
  white-space: nowrap;
  text-align: left;
  line-height: 180%;
  display: block;
  list-style-type: disc;
}

.video-skill-description#one {
  background-color: orange;
}

.video-skill-description#two {
  background-color: rgb(66, 110, 110);
}

.video-skill-description#three {
  background-color: #d8d6d6;
}

.HaiRx-image, .durante-image {
  max-width: 30%;
  height: auto;
  padding: 1.5%;
  margin-left: 11.5%;

}

/* NAVIGATION */
#nav-container {
  display: flex;
  flex-direction: row;
}

nav.top-nav {
  overflow: hidden;
  position: fixed; /*Set the navbar to fixed position */
  top: 0; /*Position the navbar at the top of the page*/ 
  width: 100%; /* Full width */
  background-color: black;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.top-nav a {
  float: left;
  margin-left: 5%;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
  display: block;
  width: 7%;
}

nav a:hover {
  background: white;
  color: black;
}

nav.top-nav .landing-link {
  margin-right: 5%;
  /* font-size: 200%; */
  /* font-family: 'Times New Roman', Times, serif; */
  color: rgba(255, 166, 0, 0.86);
}

/* FOOTER */
footer {
  display: flex;
  align-items: end;
  margin-top: 20%;
  margin-bottom: -10%;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  } */
/* } */
